<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timie">
        
        <!-- Setup Wizard Activity - Main entry point -->
        <activity
            android:name=".ui.SetupWizardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Subject Input Activity -->
        <activity
            android:name=".ui.SubjectInputActivity"
            android:exported="false" />
        
        <!-- Faculty Input Activity -->
        <activity
            android:name=".ui.FacultyInputActivity"
            android:exported="false" />
        
        <!-- Room Input Activity -->
        <activity
            android:name=".ui.RoomInputActivity"
            android:exported="false" />
        
        <!-- Class Input Activity -->
        <activity
            android:name=".ui.ClassInputActivity"
            android:exported="false" />
        
        <!-- Generation Activity -->
        <activity
            android:name=".ui.GenerationActivity"
            android:exported="false" />
        
        <!-- Class Timetable Activity -->
        <activity
            android:name=".ui.ClassTimetableActivity"
            android:exported="false" />
        
        <!-- Faculty Timetable Activity -->
        <activity
            android:name=".ui.FacultyTimetableActivity"
            android:exported="false" />
        
    </application>

</manifest>